.Header {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  align-items: center;
  margin-bottom: 50px;
}
.Header-checkout {
  display: flex;
  font-size: 25px;
}
.Header-checkout:hover {
  color: rgb(189, 189, 189);
}
.Header-alert {
  color: #ffffff;
  font-size: 20px;
  margin-left: 5px;
}
.Header a {
  text-decoration: none;
  color: #ffffff;
}
.Header-title {
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media (max-width: 550px) {
  .Header {
    padding: 0px;
    align-items: flex-end;
  }
}
