.Products-items {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  grid-row-gap: 2.5em;
  display: grid;
  text-align: center;
  justify-items: center;
}
.Products-item {
  max-width: 80%;
}
.Products-item-info {
  padding: 10px;
  min-height: 135px;
}
.Products-item-info h2 {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.Products-item-info h2 span {
  color: #53ef58;
}
.Products-item-info p {
  font-size: 18px;
  font-weight: 100;
}
.Products-item img {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
  object-fit: contain;
}
.Products-item button {
  background: rgb(200 200 200);
  width: 90%;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.251);
  outline: 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  color: #1f1f1f;
}
.Products-item button:hover {
  background-color: rgba(204, 204, 204, 0.563);
}
